@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<table class="table table-bordered table-striped" style="width:100">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
       {
           <tr>
               <td width="50%">
                   @item.Name
               </td>
               <td width="30%">
                   @item.DisplayOrder
               </td>
           </tr>
       }
    </tbody>
</table>